body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
section {
    margin: 2em 5%;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#profile-pic {
    float: right;
    width: 150px; 
    height: auto;
    margin: 10px;
}
#mail-pic {
    display: block;
    margin: 0 auto; /* centers the image */
    height: auto;
    width: 200px;
}
